[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gpsd-py3 = "*"
pyserial = "*"
pyudev = "*"
progressbar = "*"
pygame = "*"
StdConfigParser = "*"
matplotlib = "*"
colorama = "==0.4.1"
#pyusb = "*"

[requires]
python_version = "3.7"
